<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="style.css">
    
</head>
<body>
  <header>
    <h2>My Website</h2>
    <nav>
      <a href="/">Home</a>
      <a href="/host/register">Register</a>
      <a href="/basic/main">Main</a>
      <a href="/host/products">Products</a>
      <a href="/basic/regiterUser">Users</a>
      <a href="/basic/about">About</a>
    </nav>
  </header>
  <section class="hero">
    <div>
      <h1>Welcome to Our Platform CodeITup 🚀</h1>
      <a href="/host/register" class="btn">Get Started</a>
    </div>
  </section>
  <footer>
    <p>&copy; 2025 My Website | Built with ❤️ by CodeITup</p>
    <p>
      <a href="/basic/about">About</a> | 
      <a href="/basic/contact">Contact</a> | 
      <a href="/basic/terms">Terms & Conditions</a>
    </p>
  </footer>
</body>
</html>

